<div class="user-profile-card">
  <div class="flex">
    <div class="avatar-box"> 
      <%= user_avatar_tag(user, :md) %>
    </div>
    <div class="flex-grow-1 flex justify-content-between">
      <%= link_to user, class: "name-box" do %>
        <div class="fullname">
          <%= user.name %>
        </div>
        <div class="login">
          <%= "@#{user.login}" %>
        </div>
      <% end %>
      <% if user.online? %>
      <div class="w-2 h-2 rounded bg-green-600" title="<%= t('common.online')%>"></div>
      <% end %>
    </div>
  </div>
  <% if user.tagline.present? %>
    <hr>
    <div class="item tagline"><%= user.tagline %></div>
  <% end %>
  <% if !owner? user %>
    <hr>
    <div class="item buttons row col-sm-6">
      <%= follow_user_tag(user) %>
    </div>
    <div class="item buttons row col-sm-6">
      <%= block_user_tag(user) %>
    </div>
  <% end %>
</div>
